n8n/shopify-seo-workflow-v2.json
{
  "name": "Shopify SEO Content Generator v2",
  "version": "2.0",
  "description": "Geliştirilmiş Shopify SEO içerik üretici - Ana sayfa entegrasyonu için optimize edilmiş",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify-seo-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "shopify-seo-v2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "product_name",
              "name": "product_name",
              "value": "={{ $json.body.product_name || 'Product Name Required' }}",
              "type": "string"
            },
            {
              "id": "shopify_store_type", 
              "name": "shopify_store_type",
              "value": "={{ $json.body.shopify_store_type || 'dropshipping' }}",
              "type": "string"
            },
            {
              "id": "target_price_range",
              "name": "target_price_range", 
              "value": "={{ $json.body.target_price_range || 'under_25' }}",
              "type": "string"
            },
            {
              "id": "additional_context",
              "name": "additional_context",
              "value": "={{ $json.body.additional_context || '' }}",
              "type": "string"
            },
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $json.body.requestId || 'shopify_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "input-validation",
      "name": "Input Validation & Processing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCnOz1l1SPoTbIVK2jx2KImJr8DIe26hhg"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Sen Shopify SEO uzmanısın. Türkçe ve İngilizce dil desteği ile, e-ticaret dönüşümü odaklı SEO içerikleri üretiyorsun.\\n\\nÜrün: \" + $json.product_name + \"\\nMağaza Tipi: \" + $json.shopify_store_type + \"\\nFiyat Aralığı: $\" + $json.target_price_range.replace('_', '-') + \"\\nEk Bilgi: \" + $json.additional_context + \"\\n\\nAşağıdaki Shopify SEO formatında optimize edilmiş içerik üret:\\n\\n1. SEO BAŞLIK (max 70 karakter):\\n- Ana anahtar kelime içersin\\n- Dönüşüm odaklı dil kullan\\n- Shopify arama algoritmasına uygun\\n- Net değer önerisi\\n- Türkçe ürünler için Türkçe, İngilizce ürünler için İngilizce\\n\\n2. META AÇIKLAMA (max 160 karakter):\\n- Tıklama oranını artıracak metin\\n- Fayda ve özellikler dahil\\n- Harekete geçirici dil\\n- Google SERP optimize\\n\\n3. ÜRÜN AÇIKLAMASI (250-350 kelime):\\n- Özellik-fayda formatı\\n- Güven işaretleri ve sosyal kanıt\\n- Teknik özellikler (gerekirse)\\n- Net değer önerisi\\n- Dönüşüm copywriting teknikleri\\n- Madde işaretli, okunabilir format\\n\\n4. SEO ANAHTAR KELİMELER (8-12 adet):\\n- Kısa ve uzun kuyruk anahtar kelimeler\\n- Ticari niyet anahtar kelimeleri\\n- Shopify'a özel arama terimleri\\n- Ürün kategori anahtar kelimeleri\\n\\n5. SHOPIFY ETİKETLERİ (5-8 adet):\\n- Platform'a özel format\\n- Kategori + özellik etiketleri\\n- Mağaza içi arama optimizasyonu\\n- Ürün filtreleme optimizasyonu\\n\\nOptimizasyon Kuralları:\\n- Shopify arama algoritmasına odaklan\\n- Mağaza tipi (\" + $json.shopify_store_type + \") ton belirlesin\\n- Fiyat aralığı (\" + $json.target_price_range + \") konumlandırmayı etkilemeli\\n- Harekete geçirici dil kullan\\n- İlgili ürün faydalarını dahil et\\n- SEO en iyi uygulamalarını takip et\\n\\nCevabını temiz, yapılandırılmış format olarak ver. Shopify'a kopyala-yapıştır için hazır olsun.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 3000,\n    \"stopSequences\": []\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_HATE_SPEECH\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    }\n  ]\n}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "shopify-seo-ai",
      "name": "Shopify SEO AI Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Google Gemini API response parsing\nconst geminiResponse = $json;\nlet aiResponse = '';\n\n// Google Gemini API response format kontrolü\nif (geminiResponse.candidates && geminiResponse.candidates[0] && geminiResponse.candidates[0].content && geminiResponse.candidates[0].content.parts && geminiResponse.candidates[0].content.parts[0]) {\n  aiResponse = geminiResponse.candidates[0].content.parts[0].text;\n} else {\n  console.error('Gemini AI response format error:', JSON.stringify(geminiResponse, null, 2));\n  throw new Error('Invalid Gemini AI response format');\n}\n\nconsole.log('Raw AI Response:', aiResponse.substring(0, 500));\n\n// Gelişmiş metin işleme fonksiyonları\nfunction extractSection(text, sectionNames) {\n  // Birden fazla section ismi desteği\n  const sectionArray = Array.isArray(sectionNames) ? sectionNames : [sectionNames];\n  \n  for (const sectionName of sectionArray) {\n    const patterns = [\n      new RegExp(`${sectionName}[:\\\\s]*([\\\\s\\\\S]*?)(?=\\\\n\\\\n[A-Z]|\\\\n[0-9]\\\\.|$)`, 'i'),\n      new RegExp(`${sectionName}[:\\\\s]*\\\\n([\\\\s\\\\S]*?)(?=\\\\n\\\\n|\\\\n[A-Z]|$)`, 'i'),\n      new RegExp(`${sectionName}[:\\\\s]*([^\\\\n]+)`, 'i')\n    ];\n    \n    for (const regex of patterns) {\n      const match = text.match(regex);\n      if (match && match[1]) {\n        return match[1].trim().replace(/^[-*•]\\\\s*/, '').replace(/^\\\"|\\\"$/g, '');\n      }\n    }\n  }\n  return '';\n}\n\nfunction extractList(text, sectionNames, separator = ',') {\n  const section = extractSection(text, sectionNames);\n  if (!section) return [];\n  \n  // Farklı ayırıcıları dene\n  const separators = [separator, '\\\\n', '-', '•', '*'];\n  let items = [];\n  \n  for (const sep of separators) {\n    items = section.split(sep)\n      .map(item => item.trim().replace(/^[-*•]\\\\s*/, '').replace(/^[0-9]+\\\\.\\\\s*/, ''))\n      .filter(item => item.length > 0 && item.length < 100);\n    \n    if (items.length > 1) break;\n  }\n  \n  return items.length > 0 ? items : [section];\n}\n\n// İçerik çıkarma\nconst seoTitle = extractSection(aiResponse, ['SEO BAŞLIK', 'SEO TITLE', 'BAŞLIK', 'TITLE']);\nconst metaDescription = extractSection(aiResponse, ['META AÇIKLAMA', 'META DESCRIPTION', 'AÇIKLAMA', 'DESCRIPTION']);\nconst productDescription = extractSection(aiResponse, ['ÜRÜN AÇIKLAMASI', 'PRODUCT DESCRIPTION', 'AÇIKLAMA']);\nconst keywords = extractList(aiResponse, ['SEO ANAHTAR KELİMELER', 'SEO KEYWORDS', 'ANAHTAR KELİMELER', 'KEYWORDS']);\nconst shopifyTags = extractList(aiResponse, ['SHOPIFY ETİKETLERİ', 'SHOPIFY TAGS', 'ETİKETLER', 'TAGS']);\n\n// Veri temizleme ve validasyon\nconst cleanTitle = (seoTitle || 'SEO Başlık Üretilemedi').substring(0, 70);\nconst cleanMetaDesc = (metaDescription || 'Meta açıklama üretilemedi').substring(0, 160);\nconst cleanProductDesc = productDescription || 'Ürün açıklaması üretilemedi';\nconst cleanKeywords = keywords.slice(0, 12).filter(k => k.length > 2);\nconst cleanTags = shopifyTags.slice(0, 8).filter(t => t.length > 1);\n\n// Input data alma\nconst inputData = $('Input Validation & Processing').first().json;\n\n// Geliştirilmiş sonuç yapısı\nconst result = {\n  status: 'success',\n  request_id: inputData.request_id,\n  timestamp: inputData.timestamp,\n  input: {\n    product_name: inputData.product_name,\n    shopify_store_type: inputData.shopify_store_type,\n    target_price_range: inputData.target_price_range,\n    additional_context: inputData.additional_context,\n    requestId: inputData.request_id\n  },\n  data: {\n    seo_title: cleanTitle,\n    meta_description: cleanMetaDesc,\n    product_description: cleanProductDesc,\n    keywords: cleanKeywords.length > 0 ? cleanKeywords : ['shopify', 'ecommerce', inputData.product_name.toLowerCase()],\n    shopify_tags: cleanTags.length > 0 ? cleanTags : ['featured', 'bestseller', 'new'],\n    character_counts: {\n      title_length: cleanTitle.length,\n      meta_description_length: cleanMetaDesc.length,\n      product_description_length: cleanProductDesc.length\n    }\n  },\n  generated_at: new Date().toISOString(),\n  processing_info: {\n    ai_model: 'gemini-1.5-flash',\n    language_detected: /[çğıöşü]/i.test(inputData.product_name) ? 'turkish' : 'english',\n    content_length: aiResponse.length,\n    extraction_success: {\n      title: !!seoTitle,\n      meta: !!metaDescription,\n      description: !!productDescription,\n      keywords: keywords.length > 0,\n      tags: shopifyTags.length > 0\n    }\n  }\n};\n\nconsole.log('Processed Result:', JSON.stringify(result, null, 2));\n\nreturn [{ json: result }];"
      },
      "id": "content-formatter",
      "name": "Advanced Content Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seo-product-analyzer.vercel.app/api/shopify-seo-results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-shopify-seo-workflow-v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxRetries": 2,
            "retryInterval": 1000
          }
        }
      },
      "id": "send-response",
      "name": "Send to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success_condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "success-check",
      "name": "Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"success\": true,\n  \"message\": \"Shopify SEO content generated successfully\",\n  \"request_id\": $json.request_id,\n  \"timestamp\": $json.timestamp,\n  \"data_preview\": {\n    \"title_length\": $json.data.character_counts.title_length,\n    \"meta_length\": $json.data.character_counts.meta_description_length,\n    \"keywords_count\": $json.data.keywords.length,\n    \"tags_count\": $json.data.shopify_tags.length\n  }\n} }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"success\": false,\n  \"error\": \"Shopify SEO content generation failed\",\n  \"request_id\": $json.request_id || 'unknown',\n  \"timestamp\": new Date().toISOString(),\n  \"details\": $json.error || 'Unknown error occurred'\n} }}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input Validation & Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation & Processing": {
      "main": [
        [
          {
            "node": "Shopify SEO AI Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify SEO AI Generator": {
      "main": [
        [
          {
            "node": "Advanced Content Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Content Formatter": {
      "main": [
        [
          {
            "node": "Send to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Backend": {
      "main": [
        [
          {
            "node": "Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Check": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.example.com",
            "user-agent": "node-fetch",
            "content-length": "156",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "product_name": "Bluetooth Kulaklık",
            "shopify_store_type": "dropshipping",
            "target_price_range": "25_50",
            "additional_context": "Yüksek kalite, gürültü önleyici",
            "requestId": "test_shopify_workflow_v2"
          },
          "webhookUrl": "https://n8n.example.com/webhook/shopify-seo-v2",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": {
      "enabled": false
    }
  },
  "staticData": null,
  "tags": [
    {
      "id": "shopify",
      "name": "Shopify SEO"
    },
    {
      "id": "ecommerce", 
      "name": "E-commerce"
    },
    {
      "id": "turkish",
      "name": "Turkish Support"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-21T05:00:00.000Z",
  "versionId": "2.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "shopify-seo-workflow-v2"
  }
}