n8n/workflow.json
{
  "name": "Optimizyr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cb04381c-f75c-403e-8dee-0ccc087fd732",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1088, 256],
      "id": "d9a78f91-d803-4ec8-a4a3-403168c60e4f",
      "name": "Webhook",
      "webhookId": "cb04381c-f75c-403e-8dee-0ccc087fd732"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "product",
              "value": "={{ $json.body.title }}",
              "type": "string"
            },
            {
              "name": "requestId",
              "value": "={{ $json.body.requestId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-880, 256],
      "id": "ee3974b1-4370-40b3-a9d4-e22bf3ea4c02",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "AIzaSyCnOz1l1SPoTbIVK2jx2KImJr8DIe26hhg"
            },
            {
              "name": "cx",
              "value": "c0cfcfe34a8e14111"
            },
            {
              "name": "q",
              "value": "=intitle:\"{{ $json.product }}\" (pricing OR features OR buy OR software) -medium.com -quora.com -youtube.com -linkedin.com "
            }
          ]
        }
      },
      "id": "5734d27e-6223-40fe-a601-f57338b94cf6",
      "name": "Google Search",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-624, 256],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "let allTitles = [];\nlet allDescriptions = [];\nlet allKeywords = [];\n\nfor (const item of $json.items) {\n  allTitles.push(item.title);\n  allDescriptions.push(item.snippet);\n\n  const keywords = item.title\n    .toLowerCase()\n    .replace(/[^a-zA-Z0-9 ]/g, '')\n    .split(' ')\n    .filter(w => w.length > 3);\n\n  allKeywords.push(...keywords);\n}\n\nconst uniqueKeywords = [...new Set(allKeywords)];\n\nreturn [{ json: { chatInput: `\nTitle List:\n${allTitles.join('\\n')}\n\nDescription List:\n${allDescriptions.join('\\n')}\n\nKeywords:\n${uniqueKeywords.join(', ')}\n      `.trim() } }];"
      },
      "id": "ac0c974b-b21f-4bb9-b29e-40924935485b",
      "name": "Extract Competitor Data",
      "type": "n8n-nodes-base.function",
      "position": [-384, 256],
      "typeVersion": 1
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert SEO content writer and product copywriter. generate the following in one output: 1. SEO Meta Data: - Title: (exact product title, must be the same as product title below) - Description: A concise, persuasive meta description optimized for Google SEO best practices. Make sure it is between 120-160 characters, includes main keywords naturally, and encourages clicks. - Keywords: A list of relevant, highly ranked keywords related to the product. 2. Product Content: - Product Title: (exact same title as SEO Meta Data Title) - Product Description: A detailed, engaging product description of minimum 150 words that highlights the product's key features, benefits, and usage. Use natural language with relevant keywords but avoid keyword stuffing. Format the output exactly like this: --- SEO Meta Data: Title: ... Description: ... Keywords: ... Product Content: Product Title: ... Product Description: ... --- Ensure that the SEO Meta Data Title and Product Title are exactly the same string. Follow SEO best practices for titles, descriptions, and keyword usage to maximize Google ranking potential."
            }
          ]
        }
      },
      "id": "0cc163ae-3351-4d2d-97a3-a63ae559ebec",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [-176, 256],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "jsCode": "const inputText = $json.text;\n\nfunction getFieldValue(text, field) {\n  const regex = new RegExp(field + ':\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\S|$)', 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nfunction splitSections(text) {\n  const seoMetaMatch = text.match(/SEO Meta Data:\\n([\\s\\S]*?)\\n\\nProduct Content:/i);\n  const productContentMatch = text.match(/Product Content:\\n([\\s\\S]*)/i);\n\n  const seoMeta = seoMetaMatch ? seoMetaMatch[1].trim() : '';\n  const productContent = productContentMatch ? productContentMatch[1].trim() : '';\n\n  return [\n    { json: { type: 'seo_meta_data', title: getFieldValue(seoMeta, 'Title'), description: getFieldValue(seoMeta, 'Description'), keywords: getFieldValue(seoMeta, 'Keywords'), product_title: '', product_description: '' } },\n    { json: { type: 'product_content', title: '', description: '', keywords: '', product_title: getFieldValue(productContent, 'Product Title'), product_description: getFieldValue(productContent, 'Product Description') } }\n  ];\n}\n\nreturn splitSections($input.first().json.text);"
      },
      "id": "639443bb-45cf-46df-b172-97ec6dc55f72",
      "name": "Code Formatting",
      "type": "n8n-nodes-base.code",
      "position": [240, 256],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet seoData = {};\nlet productData = {};\n\nfor (const item of items) {\n  if (item.json.type === 'seo_meta_data') {\n    seoData = { title: item.json.title, description: item.json.description, keywords: item.json.keywords };\n  } else if (item.json.type === 'product_content') {\n    productData = { product_title: item.json.product_title, product_description: item.json.product_description };\n  }\n}\n\nconst finalData = { timestamp: new Date().toISOString(), status: 'success', requestId: $node['Edit Fields'].json.requestId, data: { seo_meta: seoData, product_content: productData }, original_request: { product: $node['Edit Fields'].json.product } };\n\nreturn [{ json: finalData }];"
      },
      "id": "7f4392c1-050d-4457-b7ad-c485c98cca6a",
      "name": "Prepare Final Data",
      "type": "n8n-nodes-base.code",
      "position": [480, 256],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seo-product-analyzer.vercel.app/api/seo-results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Send to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 256],
      "id": "f1d4da3b-8aba-4cdc-a4a6-b61e4291aed6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-176, 480],
      "id": "045c69a3-73dd-496b-b24e-6bd015fe35a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "g72UeLsLytvQfGvy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dnzsrslk.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "71",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "54.91.247.237",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "97260c7ca3e62162-MAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "54.91.247.237, 172.64.238.94",
            "x-forwarded-host": "dnzsrslk.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-77-7df8c744bc-77h5g",
            "x-is-trusted": "yes",
            "x-real-ip": "54.91.247.237",
            "x-vercel-id": "fra1::k6krd-1755736508325-1451163d652d"
          },
          "params": {},
          "query": {},
          "body": {
            "title": "telefon kılıfı",
            "requestId": "req_1755736507868_5188k3ulq"
          },
          "webhookUrl": "https://dnzsrslk.app.n8n.cloud/webhook/cb04381c-f75c-403e-8dee-0ccc087fd732",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "main": [
        [
          {
            "node": "Extract Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Competitor Data": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Formatting": {
      "main": [
        [
          {
            "node": "Prepare Final Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Data": {
      "main": [
        [
          {
            "node": "Send to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc661d11-4e95-47c7-8f45-f2e66da60244",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef1807cd31301d824875fbbf0d0cc2a1937129c2b608f32379c9af6097a83ede"
  },
  "id": "50LshtzktNoW94O2",
  "tags": []
}
